.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  min-width: 200px;
  max-width: 300px;
}

.icon {
  height: 25px;
  width: auto;
  cursor: pointer;
  padding-left: 3px;
}

.row-bottom-margin {
  margin-bottom: 0px;
  display: flex;
}

.project-title {
  font-size: 24px;
  font-weight: 300;
}

.project-info {
  line-height: 1.75;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
}

.tags {
  border-radius: 9px;
  padding: 7px;
  font-weight: bold;
  margin-right: 0.3em;
  font-size: 12px;
}

nav ul a {
  color: dimgray;
}

nav ul a#red-hover:hover {
  background-color: #fc686823;
  color: #c75555;
}

nav ul a#blue-hover:hover {
  background-color: #66abfa23;
  color: #157fe2;
}

nav ul a#green-hover:hover {
  background-color: #73ff5023;
  color: #5fb34a;
}

nav ul a#yellow-hover:hover {
  background-color: #ffe55223;
  color: #a8a629;
}

nav ul a#gray-hover:hover {
  background-color: rgba(167, 167, 167, 0.397);
  color: grayß;
}

#red-select {
  background-color: #fc686823;
  color: #c75555;
}

#blue-select {
  background-color: #66abfa23;
  color: #157fe2;
}

#green-select {
  background-color: #73ff5023;
  color: #5fb34a;
}

#yellow-select {
  background-color: #ffe55223;
  color: #a8a629;
}

#red {
  color: #a03b3b;
}

#blue {
  color: #036dcf;
}

#green {
  color: #4fa03b;
}

#yellow {
  color: #c2b500;
}

@media screen and (max-width: 600px) {
  h1.small-responsive-text {
    font-size: 30px;
    text-align: center;
    margin: 0.67em 0;
  }

  h3.small-responsive-text {
    font-size: 30px;
    text-align: center;
    margin: 0.67em 0;
  }

  .project-title {
    font-size: 20px;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(16, 16, 17);
    color: white;
  }

  nav {
    background-color: rgb(28, 28, 31);
  }

  ul.sidenav {
    background-color: rgb(16, 16, 17);
  }

  .icon-color {
    color: white;
  }

  .color-card {
    background-color: rgb(28, 28, 31);
  }

  #color-reveal {
    background-color: black;
    background-color: rgb(28, 28, 31);
  }

  .tags-blue {
    background-color: #66abfa23;
    color: #157fe2;
  }

  .tags-red {
    background-color: #fc686823;
    color: #c75555;
  }

  .tags-green {
    background-color: #73ff5023;
    color: #5fb34a;
  }

  .tags-orange {
    background-color: #ffbc3e23;
    color: #bd7b45;
  }

  .tags-yellow {
    background-color: #ffe55223;
    color: #a8a629;
  }

  .tags-purple {
    background-color: #9d52ff23;
    color: #7922a1;
  }
}
@media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
  body {
    background-color: #f5f5f5;
  }

  nav {
    background-color: white;
  }

  a.logo {
    color: black;
  }

  .icon-color {
    color: black;
  }

  .tags-blue {
    background-color: #81bbfd;
    color: #036ccf;
  }

  .tags-red {
    background-color: #ff8686;
    color: #a03b3b;
  }

  .tags-green {
    background-color: #a5ff8f;
    color: #4fa03b;
  }

  .tags-orange {
    background-color: #ffd588;
    color: #a0683b;
  }

  .tags-yellow {
    background-color: #ffef93;
    color: #838113;
  }

  .tags-purple {
    background-color: #bf8fff;
    color: #601383;
  }
}

@font-face {
  font-family: saintDF;
  src: url("./../fonts/MrsSaintDelafield-Regular.ttf");
}
